* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 47px;
    padding-bottom: 465px;
    background-image: url(/Sunduk/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #7E868E; */
}

.header__logo {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #FFFFFF;
    padding-right: 552px;
}

.header__address {
    display: flex;
    align-items: center;
}

.header__icon {
    padding-right: 14px;
}

.header__info p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.header__phone {
    display: flex;
    align-items: center;
}

.header__namber p {
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    color: #FFFFFF;
}

.header__info p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.header__holder {
    padding-top: 188px;
}

.header__suptitle {
    padding-bottom: 24px;
}

.header__suptitle p {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2E363E;
    padding: 10px 18px;
    background: #F2F6FA;
    border-radius: 5px;
    width: 132px;
}

.header__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    color: #FFFFFF;
}

.header__button {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.header__btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    padding: 30px 50px;
    background: #FED84C;
    border-radius: 8px;
    transition: all .2s linear;
}

.header__btn:hover {
    background: #c9aa3c;
}

.header__text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    padding-left: 20px;
}

.catalog {
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog__holder {
    text-align: center;
}

.catalog__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #2E363E;
    padding-bottom: 80px;
}

.catalog__cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.catalog__card {
    width: 380px;
    height: 582px;
    border: 1px solid #F2F6FA;
    border-radius: 0px 0px 10px 10px;
    transition: all .2s linear;
}

.catalog__card:hover {
    border: 1px solid #888888;
    border-radius: 0px 0px 10px 10px;
}

.catalog__img {
    padding-bottom: 50px;
    margin-left: -1px;
    margin-top: -8px;
}

.catalog__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #2E363E;
    margin-bottom: 12px;
    padding-left: 44px;
}

.catalog__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2E363E;
    margin-bottom: 24px;
    width: 240px;
    padding-left: 44px;
}

.catalog__money {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
    padding-bottom: 14px;
    padding-left: 44px;
}


.catalog__button {
    text-align: center;
}

.catalog__button__padding {
    text-align: center;
    padding-top: 26px;
}

.catalog__btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    padding: 20px 40px;
    background: #FED84C;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: all .2s linear;
    width: 163px;
    height: 68px;
}

.catalog__btn:hover {
    background: #c9aa3c;
}



.myPhoto {
    background: #081130;
}

.myPhoto__row {
    display: flex;
    justify-content: space-between;
}

.myPhoto__left {
    padding-top: 30px;
}

.myPhoto__right {
    padding-top: 109px;
}

.myPhoto__suptitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2E363E;
    padding: 10px 18px;
    background: #F2F6FA;
    border-radius: 5px;
    width: 227px;
}

.myPhoto__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-bottom: 24px;
    width: 481px;
    padding-top: 24px;
}

.myPhoto__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    width: 481px;
}

.myPhoto__button {
    padding:5px 10px;
    position:relative;
    color: #2E363E;
    background: #FED84C;
    border-radius: 8px;
    text-align:center;
    float:left;
    cursor:pointer;
    padding: 30px 50px;
    margin-top: 40px;
    font-weight: 500;
    transition: all .2s linear;
}

.myPhoto__button:hover {
    background: #c9aa3c;
}

.myPhoto__btn {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.cook {
   padding-top: 96px;
   padding-bottom: 96px;
}

.cook__row {
    display: flex;
    justify-content: space-between;
}

.cook__suptitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2E363E;
    padding: 10px 18px;
    width: 195px;
    height: 37px;
    background: #F2F6FA;
    border-radius: 5px;
}

.cook__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #2E363E;
    width: 580px;
    padding-top: 24px;
}

.cook__list {
    padding-top: 36px;
}

.cook__list li {
   color: #5D6AFB;
   margin-bottom: 30px;
}

.cook__list span {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2E363E;
}

.cook__button {
    padding-top: 50px;
}

.cook__btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    padding: 30px 50px;
    background: #FED84C;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: all .2s linear;
    width: 299px;
    height: 88px;
}

.cook__btn:hover {
    background: #c9aa3c;
}


.cook__text {
    position: relative;
    top: -281px;
    left: -67px;
}

.cook__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    width: 260px;
    height: 60px;
    background: #2E363E;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    text-align: center;
}

.cook__chef {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2E363E;
    width: 200px;
    height: 60px;
    background: #F2F6FA;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    text-align: center;
    margin-left: 30px;
}


.portfolio {
    padding: 100px 0;
}

.portfolio__holder {
    text-align: center;
}

.portfolio__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #2E363E;
    margin-bottom: 14px;
}

.portfolio__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    color: #2E363E;
    padding-bottom: 80px;
}   

.portfolio__row {
    display: flex;
    justify-content: space-between;
}

.portfolio__images {
    margin-right: 9px;
}

.portfolio__img {
    margin-bottom: 9px;
}

.feedback {
   padding: 80px 0;
   background: #081130;
}

.feedback__holder {
    text-align: center;
    width: 1180px;
    height: 394px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 70px 0;
}

.feedback__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #2E363E;
    margin-bottom: 12px;
}

.feedback__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    text-align: center;
    letter-spacing: -0.2px;
    color: #2E363E;
    padding-bottom: 36px;
}

.feedback__input {
    display: flex;
    padding-left: 200px;
}

.feedback__input__tel {
    width: 380px;
    height: 85px;
    background: #F2F6FA;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #7E868E;
    padding-left: 30px;
    border: none;
    transition: all .3s linear;
}

.feedback__input__tel:focus {
    box-shadow: 0px 0px 10px 10px #cacaca;
}

input {
    outline: none;
}

.feedback__btn {
    width: 380px;
    height: 86px;
    background: #FED84C;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    transition: all .2s linear;
    cursor: pointer;
}

.feedback__button {
    padding-left: 20px;
    margin-top: -7px;
}

.feedback__btn:hover {
    background: #c9aa3c;
}

.feedback__checkbox input {
    margin-top: 25px;
}

.footer {
    background: #081130;
    padding: 80px 0;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    padding-bottom: 22px;
}

.footer__text a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7E868E;
}

.footer__copy {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7E868E;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

textarea {
    resize: none;
    background: #f1f1f1;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border: none;
    outline: none;
}

textarea:hover {
    background: #d6d6d6;
}